@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,100&display=swap");
/* allfont */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Poppins:wght@200&display=swap');




@font-face {
  font-family: 'titleFont';
  /* src: local('techFont'), url(%PUBLIC_URL%/font/techFont.ttf) format('truetype'); */
  src: local('titleFont9'), url(/src/font/titleFont9.ttf) format('truetype');
}
@font-face {
  font-family: 'techFont';
  src: local('techFont9'), url(/src/font/titleFont9.ttf) format('truetype');
  /* src: local('titleFont4'), url(/src/font/titleFont4.ttf) format('truetype'); */
}
@font-face {
  font-family: 'allFont';
  src: local('allFont'), url(/src/font/allFont2.ttf) format('truetype ');
  /* src: local('titleFont4'), url(/src/font/titleFont4.ttf) format('truetype'); */
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes bounce {
  10%,
  20%,
  30%,
  40%,
  50% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-9px);
  }
  25% {
    transform: translateY(-7px);
  }
  35% {
    transform: translateY(-4px);
  }
  45% {
    transform: translateY(-2px);
  }
  55% {
    transform :translateY(-1px)
  }
}

body {
  font-size: 15pt;
  /* font-weight: 300; */
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
  
  min-width: 400px;
}

.title {
  font-family: "titleFont";
  
}

.project-title {
  font-family: "projectFont";
}

.iconText {
  /* font-family: 'Prompt', sans-serif; */
  font-family: "techFont"
}

.cover-container {
  animation: fadeIn 3s;
}

.buttonBounce {
  animation: bounce 5s infinite;
}


@layer components {
  .button {
    @apply inline-block mx-1 my-1 px-10 py-3 rounded-lg bg-icon-red hover:bg-icon-bblue cursor-pointer
            transition-all duration-300 ease-linear shadow-2xl;
  }
  /* .projectBtn {} */
  .tag {
    @apply inline-block px-3 py-1 text-sm font-semibold mr-2 mb-2 rounded-lg bg-black hover:bg-blue-dark
            transition-all duration-300 ease-linear shadow-2xl;
  }
  .icon {
    @apply mb-1 md:mb-1 mt-0 md:mt-10 transition-all duration-500 ease-linear text-icon-grey 
    
  }
  .iconText {
    @apply mb-1 md:mb-0 transition-all duration-500 ease-linear text-icon-grey text-opacity-0 group-hover:text-icon-grey  group-hover:text-opacity-100 
  }
}
