@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

body {
  font-size: 15pt;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}

@layer components {
  .button {
    @apply inline-block mx-1 my-1 px-10 py-3 rounded-lg bg-red-500 hover:bg-red-400 cursor-pointer
            transition-all duration-300 ease-linear shadow-2xl;
  }
  .tag {
    @apply inline-block px-3 py-1 text-sm font-semibold mr-2 mb-2 rounded-lg bg-purple-800 hover:bg-purple-600
            transition-all duration-300 ease-linear shadow-2xl;
  }
}
